#playground{
    height:200px;
    width:200px;
}
#auditorium{
    height:200px;
    width:200px;
}
#library{
    height:200px;
    width:200px;   
}
#St.Xavier's school{
    height:200px;
    width:200px;
}